name: tests

on: [push]

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v4
        id: py
        with:
          python-version: "3.11"
      - uses: actions/cache@v3
        id: cache
        with:
          path: venv
          key: ${{ runner.os }}-${{ steps.py.outputs.python-version }}-${{ hashFiles('requirements.txt') }}
      - name: Install dependencies
        if: |
          steps.cache.outputs.cache-hit != 'true'
        run: |
          python -m venv venv && source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: ci.sh
        run: |
          echo Running black...
          black --check .
          echo Running ruff...
          ruff .
          echo Running pytest...
          pytest
